---
- hosts: [all]
  
  tasks:
#  - name: "Stopping and Disabling sssd"
#    service:
#      name: sssd
#      state: stopped
#      enabled: no

  - name: "Install the latest version of ypbind"
    yum:
      name: ypbind
      state: latest

  - name: "Add NIS server records to host file"
    blockinfile:
      path: /etc/hosts
      block: |
        # NIS Servers 
        10.10.1.100 nissrv1 # admin_patch RHEL7 
        10.10.1.101 nissrv2 # admin_patch RHEL7 
        10.10.1.102 nissrv3 #    srv5.atomicharvest.com 
      insertafter: EOF
      state: present

  - name: "Copy /etc/yp.conf"
    copy:
      src: /usr/local/bin/ansible/puppet_modules/nisclient/files/yp.conf
      dest: /etc/

  - name: "Copy /etc/sysconfig/network"
    copy:
      src: /usr/local/bin/ansible/puppet_modules/nisclient/files/network
      dest: /etc/sysconfig

  - name: "vi /etc/nsswitch.conf and change files nis"
    command: "/bin/sed -i 's/sss/nis/g' /etc/nsswitch.conf"

  - name: "vi /etc/nsswitch.conf and change files nis"
    replace:
      path: /etc/nsswitch.conf
      regexp: 'passwd: files sss'
      replace: 'passwd: files nis'
      regexp: 'group: files sss'
      replace: 'group: files nis'
      regexp: 'shadow: files sss'
      replace: 'shadow: files nis'

  - name: "Run yp-domainname command to set domain name nclweb"
    shell: "/bin/domainname nclweb"

  - name: "Append +:::::: on /etc/passwd"
    lineinfile:
      path: /etc/passwd
      line: '+::::::'
      insertafter: EOF
      state: present

  - name: "Append +::: on /etc/group"
    lineinfile:
      path: /etc/group
      line: '+:::'
      insertafter: EOF
      state: present

  - name: "Copy nsswitch.conf to /etc/"
    copy:
      src: /usr/local/bin/ansible/puppet_modules/nisclient/files/nsswitch.conf
      dest: /etc/

  - name: "Copy system-auth-ac to /etc/pam.d/"
    copy:
      src: /usr/local/bin/ansible/puppet_modules/nisclient/files/system-auth-ac
      dest: /etc/pam.d/

  - name: "Copy password-auth-ac to /etc/pam.d/"
    copy:
      src: /usr/local/bin/ansible/puppet_modules/nisclient/files/password-auth-ac
      dest: /etc/pam.d/

  - name: "Copy sudoers file"
    copy:
      src: /usr/local/bin/ansible/puppet_modules/sudo/files/sudoers
      dest: /etc/


  - name: "Restart ypbind service"
    service:
      name: ypbind
      state: restarted
      enabled: yes
